@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Titillium Web";
  src: url("/fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Titillium Web";
  src: url("/fonts/Titillium_Web/TitilliumWeb-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "SourceSans";
  src: url("/fonts/Source_Sans/SourceSans3-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "SourceSans";
  src: url("/fonts/Source_Sans/SourceSans3-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SourceSans";
  src: url("/fonts/Source_Sans/SourceSans3-Medium.ttf") format("truetype");
  font-weight: 700;
}

@theme {
  --default-font-family: "SourceSans";
  --color-green-main: #5cb85c;
}
